.nav {
    height: 105px;
    background-color: var(--color-bg-variant);
    position: sticky;
    top: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

.navbar a{
    color: var(--color-txt-white);
    margin-right: 40px;
    position: relative;
    padding: 10px 0;
    display: inline-block;
}

.navbar a:last-child {
    margin-right: 0;
}

.navbar a:before, .navbar a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: var(--color-txt-white);
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navbar a:before {
    top: 0px;
    transform: translateY(-10px);
}

.navbar a:after {
    bottom: 0px;
    transform: translateY(10px);
}

.navbar a:hover:before, .navbar a:hover:after {
    opacity: 1;
    transform: translateY(0px);
} 


/*  ======================  */

.nav-btn {
    display: none;
}

#nav-check {
    display: none;
}


@media (max-width: 1024px) {
    .nav-container {
        display: flex;
    }

    .nav {
        height: 70px;
        background-color: var(--color-bg-variant);
        position: sticky;
        top: 0;
    }

    .logo > img {
        width: 5rem;
    }

    .nav-btn {
      display: inline-block;
      right: 0px;
      top: 0px;
    }
    .nav-btn > label {
      display: inline-block;
      width: max-content;
      height: max-content;
      padding: 13px;
    }
    .nav-btn > label:hover, #nav-check:checked ~ .nav-btn > label {
      background-color: var(--color-bg-variant);
    }
    .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .navbar {
      position: absolute;
      display: block;
      width: 100%;
      background-color: var(--color-bg-variant);
      height: 0px;
      transition: all .2s linear;
      overflow: hidden;
      top: 50px;
      left: 0px;
      border-radius: 1rem;
    }
    .navbar > a {
      display: block;
      width: 100%;
      text-align: center;
    }

    #nav-check:not(:checked) ~ .navbar {
      height: 0;
    }

    #nav-check:checked ~ .navbar {
      padding: 1rem 0;
      height: max-content;
      overflow-y: auto;
    }
}