.teacher {
    background-color: var(--color-bg-variant);
    display: flex;
} 

.teacher-img {
    width: 50%;
}

.teacher-img > img {
    width: 100%;
}

.recommendation {
    color: var(--color-txt-white);
    position: relative;
    text-align: start;
}



.recommendation::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: var(--color-primary);
    bottom: -1rem;
    left: 0;
}

.lorem {
    margin-top: 70px;   
    color: var(--color-txt-white);
    margin-bottom: 45px;
    text-align: start;
    font-weight: 400;
    font-size: 22px;
    color: #F6F6F8;
}

@media (max-width: 1024px) {
    .teacher {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 2rem;
    }

    .teacher-img {
        width: 100%;
    } 
    
    .recommendation  {
        font-size: 2rem;
    }
}
